.main-box {
  height: 350px; 
  background-color: white; 
  border-radius: 20px; 
  text-align: center;
}

.my-appointments-button.btn {
  font-weight: 600;
  font-size: large; 
  width: 680px; 
  height: 55px;
}

.pay-button.btn {
  font-weight: 600;
  font-size: large; 
  height: 55px;
}

.select-box {
  margin: auto;
  margin-top: 5%;
  width: 768px;
}

.day-buttons {
  width: 100%;
  padding: 0 30px;
  position: relative;
}

.scroll-date-buttons {
  width: 94%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scroll-btn-wrapper {
  width: 85vw;
  overflow-x: auto;
  display: flex;
  /*flex-wrap: nowrap;*/
}

.slot-date-btn.btn {
  width: 250px;
  height: 70px;
  color: #542EBF;
  font-size: large;
  display: inline-block;
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-btn {
  width: 40px;
  height: auto;
  padding-bottom: 20px;
}

.arrow-btn:hover {
  cursor: pointer ;
}

.scroll-date-buttons::-webkit-scrollbar {
  -webkit-appearance: none;
}

.slot-buttons {
  justify-content: space-between;
}

.slot-btn {
  width: 248px;
  height: 51px;
}

.high-demand-warning-text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.select-time-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.select-date-text {
  font-weight: 600;
  font-size: 16px;
  /*line-height: 28px;*/
}

li {
  display: inline-block;
  font-size: 15px;
  list-style-type: none;
  text-align: center;
}

li p {
  opacity: 0.7;
}

li span {

  color: #443EFF;
  height: 32px;
  display: block;
  font-size: 20px;
}

.time-spans {
  font-weight: 700;
  width: 20px;
  border-radius: 20px;
  margin: 0 2px 0 2px ;
  background-color: #F5F5F5;
}


