<div class="container" style="width: 700px; margin-top: 10%">
  <div class="main-box">
    <%= image_tag("congrats.png", :style => "width: 45%; margin-top: 20px;") %>
    <p style="font-size: x-large; font-weight: 300; margin-top: 5px;" >Appointment Booked</p>
  </div>
  <%= button_to 'My Appointments', appointments_my_appointments_path, method: "get", class: "my-appointments-button btn btn-primary btn-lg rounded-2 mt-5"%>

</div> 
