<div class="select-box">
  <div style="display: flex; align-items: center;">
    <%= image_tag("select_date_calendar.svg") %>
    <h4 class="select-date-text p-3" style="margin-block: auto; " >Select a date</h4>
  </div>

  <div class="day-buttons">
    <h3 class=" arrow-btn left" onclick="leftScroll()" > < </h3>
    <div class="scroll-date-buttons ms-2">
      <div class="scroll-btn-wrapper">
        <% i = 0 %>
        <% @slots.each do |slot| %>
          <% if ((DateTime.now + i.day).day) == (slot.slot_time.day) %>
            <% time = (DateTime.now + i.day) %>
              <%= link_to "#{displayable_date(slot.slot_time)}",
                          appointments_slots_path(day: time.strftime("%B %d, %Y"), doctor_id: @doctor_id),
                          data: {turbo_stream: true, turbo_method: :get},
                          class: "slot-date-btn btn btn-outline-primary rounded-2",
                          :onclick => 'toggleDateActive(event)' %>
            <% i += 1 %>
          <% end %>
        <%end %>
      </div>
    </div>
    <h3 class=" arrow-btn right" onclick="rightScroll()"> > </h3>
  </div>

  <div id="slots">
  </div>

  <div class="mt-5">
    <p class="high-demand-warning-text"><%= t('appointments.select_slot.high_demand_warning_text')%></p>
    <%= link_to "Book Appointment", appointments_add_details_path, id: "book-appointment", "data-test-target": "bookAppointment", data: {turbo_stream: true, turbo_method: :get}, class: "btn btn-primary btn-lg rounded-2", disabled: true, style: "text-align: center; font-weight: 600; font-size: large; width: 100%; height: 56px; margin-right: 10px"%>
  </div>
</div>